## 1.Basic Python-Interpreter

We send an argument (the "Hellow World" string) to the print() function in this example.

Lets press Shift+Enter the cell below:

In [1]:
print("Hello, World!")

Hello, World!

In [2]:
print("Line One")
print() # Empty line
print("Line Two")

Line One

Line Two

Basic arithmetic operations:
1. Click your mouse on the box  below
2. Type the arithmetic expression '2 + 5'
3. Press Shift-Enter

In [3]:
2+5

7

## Python Arithmetic Operators

\+	Addition

\-	Subtraction

\*	Multiplication

/	Division

%	Modulus

**	Exponentiation

The code below demonstrates how to perform the elementary arithmetic operations. Use Shift-Enter to execute each cell and see the results:

In [7]:
# Minus
2 - 5

-3

/ is division operator

In [5]:
9/3

3.0

\* is multiplication operator

In [ ]:
2*7

double asterisk \*\* sign is an exponentiation (power) operator.

In [8]:
2**3

8

// is an integer division operator

In [9]:
9//2

4

(percent) % is a modulus operator (remainder left after the integer division)

In [ ]:
9%2

unary and binary operators behave differently in python

In [ ]:
-5 # unary operator

In [ ]:
2-5 # Binary operator

In [ ]:
-5*3

Python calculate multiplications precede additions.

In [ ]:
2-5*3

Parentheses () can change the natural order of a calculation.

In [ ]:
(4 - 2)*10 + 12/3

## Comment
Comments starts with a #, and Python will ignore them:

In [ ]:
# This is comment
print ("before hash")# print('Hello')

### Dealing with `SyntaxError`
If you haved typed your codes wrongly. You will get SyntaxError

In [ ]:
2-

Use the `^` in the error message to fix the incorrect arithmetic expression below.

In [ ]:
(4 - 2)*10 + (12/3))

### Literals
In most programming languages including Python, a literal is a notation for representing a fixed value in source code. Almost all programming languages have notations for atomic values such as integers, floating-point numbers, and strings.

#### Integer Literal
Any numeric literal with no fraction is treated as Integer Literal.

#### Floating Point Literal
Any numeric literal with fraction is considered as Floating type literal. 

#### Boolean Literal
You can represent Boolean literals by using the keywords True and False.

#### String Literal
String literal is a sequence of characters which has to be single or double quoted.

In [12]:
type(1)

int

In [11]:
x=1
type(x)

int

In [13]:
type(1.5)

float

In [14]:
type(True)

bool

In [15]:
type("string")

str

In [16]:
type(3E2)

float

In [17]:
3e-6

3e-06

## Variables
Variables are containers for storing data values. In Python, a variable comes into existence as a result of assigning a value to it.

You may use a name for the desired variable, followed by the equal sign (=) and the value you want to put into the variable.

Python variable names are **case-sensitive**.

Python variable consists of:
1. a name 
2. a value (the content of the container)

In [18]:
x = 100
y = "Ahmad"
print(x)
print(y)

100
Ahmad

In [20]:
print(x)

100

In [ ]:
# Assign 2 values
a,b = 2,3
print(a)
print(b)

In [ ]:
a,b = 2,3

The following Python statement puts the information `2 * 10` in a variable named `var`.
Statements like this are called **assignment statements**.
These are the steps
1. Declare a *variable name*: `var`.  
2. Assign the value using *assignment operator*: `=`
3. Then write the *variable value*: `2 * 10`

In [ ]:
var = 2*10

In [ ]:
print(2*10)

The following code uses variables to calculate the revenue of a product:

In [21]:
number_of_units_sold = 2
price = 50
revenue = number_of_units_sold * price
revenue

100

In the example above we declared 3 variables number_of_units_sold, price and revenue.

If we attempt to use a variable before setting the value, we will cause a a `NameError`. We can see how this works by purposely typing the name of a variable that we have not defined:

In [22]:
undeclare_var

NameError: name 'undeclare_var' is not defined

<font color="blue">Exercise</font>: Write a program that converts currency from Myr to US Dollars by performing the following steps:

1. Assign an **amount_myr** variable the value of **2500**
2. Assign an **exchange_rate** variable the value of **0.25**
3. Assign an **amount_usd** variable the value of **amount_myr** multiplied by **exchange_rate**
4. Type the name of the variable **amount_usd** in order to print its value.

In [25]:
# YOUR CODE HERE
amount_myr = 2500
exchange_rate = 0.25
amount_usd = amount_myr * exchange_rate
amount_usd
print("USD amount converted is", amount_usd)

USD amount converted is 625.0

In [26]:
# To print in 2 decimal format
print("{:.2f}".format(amount_usd))

625.00

<font color="blue">Exercise</font>: Suppose that we own a stock 'abccorp' as follows: 

1. We own **100** shares of a corporation named "abccorp"
2. Our shares were initially purchased for **RM10.75** per share. 
3. The current share price is **RM25**. 
4. We must pay a flat brokarage charges of **RM8.88** to sell our shares. 

Use the following variables:

1. number_of_shares
2. purchase_price
3. current_price
4. broker_charges

Then perform the following steps:

5. Calculate the profit earned from selling the stock, and store it in a variable named **profit**
6. Print the value of the **profit**

In [29]:
# YOUR CODE HERE

number_of_shares = 100
purchase_price = 10.75
current_price = 21
broker_charges = 8.88
profit = (21 - 10.75) * 100 - broker_charges

In [30]:
profit

1016.12

### Using appropriate Variable name

Python generally allow most names for your variables. However,you should follow the best practices as folows:
1. Variable name should **clearly represent** what value is stored in the variable. For example, **product_price** is a good name for the price of a product. 
2. It's better to use **only of lower-case letters and underscores** - this results in readable names and fewer accidental typing errors. 
3. **Do not to use spaces** in variable names - instead, use underscores _ to separate words.
4. Do not use python **Keyword** as variable name.

#### Python Keywords are reserved. 
They are reserved and you mustn't use them as names: neither for your variables, nor functions, nor any other named entities you want to create.

In [31]:
# False is python keyword
False=123

SyntaxError: cannot assign to False (3027569449.py, line 2)

In [32]:
# Variable with space
my variable = 23

SyntaxError: invalid syntax (3871435911.py, line 2)

### Restart the Kernel
 you can **restart the kernel** to reset back to a working state. To restart, you may use the **Kernel** menu above and select the **Restart** option. This will reset the jupyter notebook back to a completely clean state, it will clean the memory of any instructions & variables previously executed.

In [33]:
variable_to_be_forgotten = 10

In [1]:
variable_to_be_forgotten

NameError: name 'variable_to_be_forgotten' is not defined

Try `Restart`the kernel:

In [2]:
variable_to_be_forgotten

NameError: name 'variable_to_be_forgotten' is not defined

## Type
You can get the data type of a variable using the type() function.

In [3]:
num1=100
char1="Text"
print(type(num1))
print(type(char1))

<class 'int'>
<class 'str'>

## Shortcut operators
Python offers you a shortcut way of writing operations as follows:

In [4]:
x=2
x+=1 # same as x = x + 1
print(x)

3

In [5]:
x=2
x*=2 # same as x = x * 2
print(x)

4

In [6]:
x=2
x-=1 # same as x = x - 2
print(x)

1

In [7]:
4/2

2.0

In [8]:
x = 1+2+3+ \
4+5+6

In [ ]:
num1 =2

In [9]:
num2 =3

In [10]:
sum = num1+num2

In [11]:
print(sum)

103

In [15]:
sales = float(input('Input monthly sales (USD)   : '))

Input monthly sales (USD)   : 2500

In [21]:
x = input('input x')

input x100

In [22]:
type(x)

str

In [23]:
int(x)

100

In [18]:
x = int(input('input x'))

input x100

In [24]:
type(x)

str

In [20]:
x=x-1
x

99