## 2. Functions

i. A function is a block of code which runs when it is called.

ii. You can pass data, known as arguments, into a function.

iii. A function can return data as a result.

Python round() function returns a floating point number that is a rounded version of the specified number, with the specified number of decimals.

round(number, digits)

In [1]:
round(10.2)

10

In [2]:
round(91.5122,1) #Round to 1 decimal

91.5

The line above consists of four parts:

1. The function name: **round**
2. Open parenthesis **(**
3. The argument: **10.2**
3. Close parenthesis **)**

<font color="blue">Try</font>
: Call the round function with an argument value of **11.3**:

In [10]:
# round the function to an integer
x = round(11.3)
print(x)

# round function to the 5 decimal
y = round(12.123412623,5)
print(y)

11
12.12341

the **abs** function will find the absolute value of whatever number that we give it as its argument, **abs(-100)** will return **100**.

<font color="blue">Try</font>
: Call the `abs` function with an argument value of `-2`:

In [3]:
abs(-2)

2

In [ ]:
y = -1000
abs(y)

We try the `max` function with four numerical arguments:

In [11]:
max(2,10,3,80,99,4)

99

In [12]:
z = [1,2,3,4,5]
max(z)

5

In [13]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

The **max** function returns the largest value out of all of its arguments(inputs). It consists of: 

1. *function name*: **max**
2. Open parenthesis (
3. Multiple arguments separated by commas: **2,10,3,80**
4. Close parenthesis )

In [14]:
max(2,10,3,80)

80

<font color="blue">Try</font>: the **min** function returns the smallest value out of all its' arguments. Call the **min** function with the arguments, **10, 20, 5 and 6**:

In [15]:
# let's try with a tuple
arguments = (10,20,5,6)
min(arguments)

5

In [ ]:
sum([1,2,3,4,5])

In [ ]:
u = (1,4,6,7,8)
min(u)

In [ ]:
sum(u)

In [ ]:
type(u)

To find out the information about the function
<span style="color:red;font-weight:bold">Try</span>: Press **Shift-Tab** to view the help information for the function `round`:

In [16]:
round

### Functions and Variables

In [ ]:
# The following is a variable to store value 5
var1=5.4

In [ ]:
# We can pass the variable into a function
round(var1)

In [ ]:
# Then we can store the return value back into a variable
rounded_number = round(var1)
rounded_number

<font color="blue">Exercise</font>: Use the **min** function to find the minimum value from the numbers **2,5,19,1 and 3**. Store the result in a variable called **minimum_value**, then print the result by typing the variable name:

In [19]:
# YOUR CODE HERE
minimum_value = min([2,5,191])
minimum_value

2

### Creating Functions:
The following function **return_ten** - will return back a value of 10 when it is called. 
1. **def** keyword will *define* a function. 
2. *function name*: `return_ten`
3. Open parenthesis (
4. Close parenthesis )
5. Colon :
6. *return* indicating what result is returned. Since the return statement is *inside* the function, it is indented to indicate its part of the function.

In [21]:
def return_ten():
    return 10

In [22]:
# The following is how you call the function:
return_ten()

10

In [24]:
# The following function will print "got it" and return 5 
def give_me_five():
    print("got it")
    return 5

<font color="blue">Try</font>: Try to call give_me_five()

In [25]:
give_me_five()

got it

5

<font color="blue">Exercise</font>: 
Define a function named **get_no_of_states** that returns value **13**, then try calling it:

In [26]:
# YOUR CODE HERE
def get_no_of_states():
    return 13

In [27]:
get_no_of_states()

13

<font color="blue">Exercise</font>: Define a function named **two_times_five** that returns the value **2 * 5**, then try calling it:

In [28]:
# YOUR CODE HERE
def two_times_five():
    return 2 * 5

In [29]:
two_times_five()

10

We can assign the return value from a function to a variable

In [30]:
this_variable_now_contains_five = give_me_five()
this_variable_now_contains_five

got it

5

<font color="blue">Exercise</font>: Assign the return value from function **return_ten()** to a variable **return_var**:

In [32]:
# YOUR CODE HERE
return_var = return_ten()

In [33]:
return_var

10

The following function will calculate the area of a circle with a radius of 5:
The formula for area of circle is **Ï€r$^{2}$**

In [35]:
def cal_area_of_circle(radius):
    return  3.14 * radius**2

In [36]:
cal_area_of_circle(5)

78.5

In [37]:
# We can store the return value from a function to a variable
area_10 = cal_area_of_circle(10)
area_10

314.0

In [38]:
cal_area_of_circle(11)

379.94

In [39]:
# The following function convert kg to g.
def convert_kg_to_g(mass_in_kg):
    return mass_in_kg * 1000

In [40]:
convert_kg_to_g(2)

2000

In [41]:
# The following function add 3 to a number
def add_three(num):
    return num + 3
add_three(5)

8

In [42]:
add_three(9)

12

<font color="blue">Exercise</font>: Define a function called **scale_by_four** that takes a single argument, multiplies its value by **4**, and returns the result. On the next line (after your function definition), call your function with the argument value **5**.

In [44]:
# YOUR CODE HERE
def scale_by_four(input):
    return input * 4

In [45]:
scale_by_four(5)

20

##  Common Mistakes (in Functions)
### 1. Reuse the function name
**Never** reuse the same name of a function for other things. In the following example, the programmer has mistakenly use the same name of a function as a variable:

In [46]:
def times_twenty(number):
    '''times twenty multiply the value by 20'''
    return number * 20

In [47]:
times_twenty = times_twenty(200)

In [48]:
# It may seems ok at first
times_twenty

4000

In [49]:
type(times_twenty)

int

<span style="color:red;font-weight:bold">error</span> when you try to call the function again.

In [50]:
times_twenty(3)

TypeError: 'int' object is not callable

### 2. Improper Indentation

Indentation is very important in Python

Indentation refers to the spaces at the beginning of a code line.

Python uses indentation to indicate a block of code.

In [51]:
def times_twenty(num):
return num * 20 # No indentation

IndentationError: expected an indented block after function definition on line 1 (1239198629.py, line 2)

In [52]:
times_twenty(9)

TypeError: 'int' object is not callable

### 3. Variable Scope

When you define a function, the variables declared inside that function are not accessible outside of the function.

In [53]:
def times_twenty(num):
    return num * 20 #num is a local variable

times_twenty(10)

200

In [54]:
# This will return NameError
num

NameError: name 'num' is not defined

### 4. Don't use Python's Keyword in function

Never use python keyword as variable name or function name. If it is neccessary to use similar name, you should add underscore(_) at the back of the name.

In [ ]:
def True(num):
    return num


The following example illustrates the advantage of using functions:
The objective is to calculate the amount of interest that we need to pay each of our customers.

In [ ]:
# If there is only one customer, we can use the following lines of codes
account_balance = 3000
interest_rate = 0.03
interest_payment = account_balance * interest_rate
interest_payment

However if we have many customers and fluctuating interest rates we should use a function

In [56]:
# A function can accept more than one arguments as follows
def cal_interest(account_balance, interest_rate):
    return account_balance * interest_rate

In [57]:
#customer 1
cal_interest(3000, 0.03)

90.0

In [58]:
#customer 2
cal_interest(2000, 0.01)

20.0

In [59]:
def get_value():
    return 100

In [60]:
y=get_value()
cal_interest(y, 0.01)

1.0

<font color="blue">Exercise</font>:
Use the function `cal_interest` above to calculate the following:
1. RM 4000 , 4% interest and assign it to variable 'customer1'
1. RM 5000 , 2% interest and assign it to variable 'customer2'

In [ ]:
# YOUR CODE HERE

In [62]:
customer1 = cal_interest(5000,0.02)
customer2 = cal_interest(4000,0.04)

<font color="blue">Exercise</font>:
Write a function called `cal_gross_profit` to calculate the gross profit for selling a certain number of products (`n_sales`) at a price (`price`), minus a certain flat courier cost (`courier_cost`). Use your function to calculate the gross profit for selling `100` products at a price of `RM50` with a courier cost of `RM200`:

In [63]:
# YOUR CODE HERE
def cal_gross_profit(n_sales, price, courier_cost):
    return n_sales * price - courier_cost

In [64]:
print(cal_gross_profit(100, 50, 200))

4800

In a longer function the  `return` statement should always be written on the last line.

In [65]:
# The following function will calculate the profit margin given the revenue and expenses

def cal_profit_margin_percent(revenue, expenses):
    profit = revenue - expenses
    profit_margin = profit/revenue
    profit_margin_percent = profit_margin*100
    return profit_margin_percent

In [66]:
# To calculate the profit margin percentage if the revenue is RM100 and expenses/costs is RM 58
cal_profit_margin_percent(100, 58)

42.0

<font color="blue">Exercise</font>:
Write a function called `cal_mortgage` to calculate the montly mortgage repayment. The function should accept 3 arguments: <br>
i. `principal` - loan amount i.e 100000<br>
ii. `interest` - interest rate i.e 6% <br>
iii. `term` -  number of years to repay. i.e 30 years<br>

You may use the following formulas to calculate the repayment. <br>

a. monthly rate from annual percentage rate<br>
interest_rate = interest/100/12

b. total number of payments<br>
payment_num = term * 12 

c. calculate monthly payment <br>
payment = principal * (interest_rate/(1-((1+interest_rate)**(-payment_num))))

The function should return `payment` which is the monthly repayment amount. Use your function to calculate the monthly payment for the principal loan amount RM100000, interest rate 6% and term 30 years. You may run the following function call:

cal_mortgage(100000,6,30)

In [ ]:
# YOUR CODE HERE

In [ ]:
monthly_mortgage=cal_mortgage(100000,6,30)
monthly_mortgage

In [ ]:
"RM{:.2f}".format(monthly_mortgage)