## 4.Lists
Python *lists* can store multiple values within a single variable. A list is created by enclosing a series of comma-separated values with square brackets (`[]`).

In [1]:
one_to_seven = [1, 2, 3, 4, 5, 6, 7]
print(one_to_seven)

[1, 2, 3, 4, 5, 6, 7]

In [2]:
# This is a mixed list
mixed_list = ["first string", 100, 3.142, "last string"]
print(mixed_list)

['first string', 100, 3.142, 'last string']

In [3]:
mixed_list=mixed_list + [100]
mixed_list

['first string', 100, 3.142, 'last string', 100]

In [4]:
# Place variables into list
customer_one = "Aminah"
customer_two = "Amir"
customer_three = "Raj"
all_customers = [customer_one, customer_two, customer_three]
print(all_customers)

['Aminah', 'Amir', 'Raj']

In [5]:
# Combining using + operator
list_one = ["one", "two"]
list_two = ["three", "four"]
list_three = list_one + list_two
print(list_three)

['one', 'two', 'three', 'four']

<font color="blue">Exercise</font>: Define a function called `combine_lists` that takes 4 arguments - `list1`, `list2`,`list3` and `list4` - and returns a list that is the combination of the four lists.

In [6]:
# YOUR CODE HERE

In [7]:
combine_lists(list4=[1,2],list3=[3,4],list2=[5,6],list1=[7,8])

NameError: name 'combine_lists' is not defined

In Python list method `len()` returns the number of elements in the list.

In [8]:
len(one_to_seven)

7

<font color="blue">Try</font>: Use the `len(...)` function to find the length of the list `[1,2,3,4,5]`

Use the `sum(...)` function to add up the elements in a list

In [9]:
sum([10,8,1,100,81])

200

**max()** function returns the largest item in an iterable (list). It can also be used to find the largest item between two or more parameters.

**min()** function returns the smallest item in an iterable (list). It can also be used to find the smallest item between two or more parameters

<span style="color:red;font-weight:bold">Try</span>: Use the `min(...)` and `max(...)` function to find the min of the list `[1,2,3,4,5]`:

<font color="blue">Exercise</font>: Define a function called **average_of_list** that accepts one argument called **inputlist** and returns the average value (arithmetic mean) of the items in the list. 

For example, if the list **[10,12,23]** is passed as the argument, your function should return **15**. You may use **sum** and **len** functions.

In [10]:
# YOUR CODE HERE

In [11]:
x = [10,12,23]

print(average_of_list(x))

NameError: name 'average_of_list' is not defined

### Accessing List Elements - using slice notation

Consider this list of customers:

In [12]:
customers = ["Fikri Bakri", "Amir Hossein", "Lim Pak Hon", "Kumaran", "Wong Kim Mun"]
customers

['Fikri Bakri', 'Amir Hossein', 'Lim Pak Hon', 'Kumaran', 'Wong Kim Mun']

In [13]:
# The first element
customers[0]

'Fikri Bakri'

In [23]:
# The forth element
customers[3]

'Wong Kim Mun'

In [24]:
# Count from the right
customers[-2]

'Kumaran'

In [21]:
# Use colon to slice the lists
customers[1:4]

['Amir Hossein', 'Kumaran', 'Wong Kim Mun']

In [19]:
#Slicing with just the : symbol returns the entire list
customers[:]

['Fikri Bakri', 'Amir Hossein', 'Kumaran', 'Wong Kim Mun']

In [17]:
#Slicing first 3 elements
customers[:3]

['Fikri Bakri', 'Amir Hossein', 'Kumaran']

<font color="blue">Exercise</font>: Define a function called `last_two` that accepts one argument called `inputlist`. The function should returns a new list consisting of the last two elements of `inputlist`. Please use the slice notation above.

In [14]:
# YOUR CODE HERE
def last_two(inputlist):
    length = len(inputlist)
    return inputlist[length-2:]

### Delete List Elements
To remove a list element.

In [15]:
customers

['Fikri Bakri', 'Amir Hossein', 'Lim Pak Hon', 'Kumaran', 'Wong Kim Mun']

In [16]:
del customers[2]
customers

['Fikri Bakri', 'Amir Hossein', 'Kumaran', 'Wong Kim Mun']

### Append 
Appends new element to list

In [ ]:
customers.append('Mohd Arif')

In [ ]:
customers

In [ ]:
customers = customers + ['samuel','Amirul']

In [ ]:
customers

### In
Use in Check if an element in a list

In [ ]:
'Amir Hossein' in customers

In [ ]:
if customers == customers :
    print("customer == customer")

In [ ]:
customers == ['a','b','c']

### Remove
Remove an element in the list if you do not know the index.

In [ ]:
customers.remove('Amir Hossein')
customers