## 3. Strings
Strings in python comprised of a set of characters.
Any text that we type inside of quotation marks - either single quotes (`'`) or double quotes (`"`) - is considered by Python to be string. For example, `"cats are cute"` is a string:

In [1]:
# This is a string
'cats are cute'

'cats are cute'

In [2]:
"jlkjl"

'jlkjl'

### Using print function
You may print the string in a variable using print function **print(....)**

In [3]:
var1="Ahmand"
var2="Bakri"
print(var1)
print(var2)

Ahmand
Bakri

In [4]:
# without print function
"String ini tidak akan dicetak"
"String ini akan dicetak"

'String ini akan dicetak'

In [5]:
# Using print function
print("String_one")
print("String_two")

String_one
String_two

The backslash (\) has a very special meaning when used inside strings -its called escape character.
\n is special symbol named a newline character.

In [6]:
print("Hello \nHow are you?")

Hello
How are you?

We can pass any number of arguments to the `print` function:

Or we can say using **multiple arguments** in print() function. The arguments are separated by commas.

In [7]:
print("first string", "second string","last string")

first string second string last string

In [8]:
print("Word one" , "two" , "three.")

Word one two three.

print() function has two keyword arguments that you can use. The first is the **end** argument.

In [9]:
print("These", "will be combined", end=" ")
print("in a single line.")

These will be combined in a single line.

In [ ]:
print("These", "will be combined____",end="")
print("in a single line.",end=" ")
print("in a single line.")

The second argument is the **seperator** named **sep**.

In [ ]:
print("One", "two", "three", "four",sep="-")

Try changing the end argument to **\n**

In [ ]:
print("My", "name", "is", sep="_", end=":")
print("Jason","Tan",sep="-")

### Store Strings in variables
Variables are container into which we store values. Variables can hold any type of value - we have previously only used to store numbers. Variables can also hold strings.

In [ ]:
my_string = "Ahmad"

In [ ]:
# To view the what's in the variable
my_string

In [ ]:
# pass variables to be printed
height = 170
print("Your height is", height)

If you accidentally forget one of the `"` characters ( has only one `"`), you will get an error:

In [ ]:
incomplete_string = "missing a quote at the end

You can combine two strings with the `+` operator:

In [ ]:
"Ahmad" + "Bakri"

In [ ]:
# You can store the combine string in a variable:
combined_string = "Ahmad" + " Bakri"
combined_string

In [ ]:
# We can make it longer
even_longer_string = combined_string + "dan"
even_longer_string

In [ ]:
# We can combine as many strings as possible
string_one = "red"
string_two = "green"
string_three = "blue"
result = string_one + string_two + string_three
result

You man clean it up by adding in some spaces (`" "`) in between the strings:

In [ ]:
combined_string = "Ahmad" + " " + "Bakri"
combined_string

<font color="blue">Exercise</font>: Define a variable named `var1` and assign it the value `"one"`, then define a variable named `var2` and assign it the value `"two"`. Define the last variable named `var_all` that is the combination of `var1` and `var2`, with a space in between using the `+` operator:

In [ ]:
# YOUR CODE HERE

### Functions with string
Functions that we define can `return` string values, similar to return numbers in the earlier examples:

In [ ]:
def greeting():
    return "hello, world"

In [ ]:
greeting()

In [ ]:
# passing string argument into function
def selamat_pagi(name):
    return "Selamat pagi"+ " " + name

selamat_pagi("Ahmand")

In [ ]:
# define functions that accept multiple string arguments
def space_in_between(the_first_string, the_second_string):
    return the_first_string + " " + the_second_string
space_in_between("Python", "Expert")

<font color='blue'>Exercise</font>: Define a function called `combine_name` that accepts three arguments: `salutation`, `surname`, and `given_name`. The function should combine these three arguments and return the full name with a space in between. 

combine_name("Encik.", "Lim", "Ah Chong") should return  `Encik. Ah Chong Lim`

combine_name("Encik.", "Bakri", "Mohd Fikri") should return  `Encik. Mohd Fikri Bakri`

In [ ]:
# YOUR CODE HERE

In [ ]:
combine_name("Encik.", "Bakri", "Mohd Fikri")

### Built-in String Functions
Similar to `max` and `round` function in earlier lesson, Python also contains many other functions that can manipulate strings.  The built-in `len` function will return the number of letters in a string:

In [ ]:
len("Ahmad")

In [ ]:
# Use len function on variable containing string
greeting_string = "hello world"
len(greeting_string)

<font color="blue">Exercise</font>: Define a function called `length_of_combined_strings` that accepts two arguments, `string1` and `string2`, and returns their combined length. 

For example, when given the arguments `"hello"` and `"world"`, your function should return `10`

In [ ]:
# YOUR CODE HERE

In [ ]:
length_of_combined_strings('hello','world')

### Using print in functions

In [ ]:
def print_greeting(customer_name):
    print("Hello", customer_name, "- Welcome")
print_greeting("Jonathan")

<font color="blue">Exercise</font>: Define a function called `print_min_of_three` that accepts 3 arguments `num1`,`num2` and `num3`. The function should print `"the min value is:, <followed by min value>"`. The function should utilize the built in min function.

print_min_of_three(2,3,4) will print `"the min value is: 2"`

In [10]:
# YOUR CODE HERE
def print_min_of_three(num1, num2, num3):
    print("the min value is", min(num1, num2, num3))

In [11]:
print_min_of_three(2,3,4)

the min value is 2

Note the difference between the function with `print` and the function with `return` string values.

In [13]:
def return_function():
    return "a string"
def print_function():
    print("a string")

In [14]:
x=return_function()

In [15]:
x

'a string'

In [16]:
y=print_function()

a string

In [17]:
print(y)

None

In [18]:
success_return=return_function()
print(success_return)

a string

In [19]:
# the function with print will not return anything
no_return = print_function()
print(no_return)

a string
None

In [21]:
print_function()

a string

### Debugging with `print`
There is an error in the following function that suppose to calculate profit after taxes:

In [ ]:
def cal_profit_after_taxes(revenue, expenses):
    tax_rate = 20
    profit = revenue - expenses
    taxes = tax_rate * profit
    profit_after_taxes = profit - taxes
    return profit_after_taxes

In [ ]:
# The output is wrong (Not suppose to be negative):

profit_after_tax = cal_profit_after_taxes(100, 70)
print(profit_after_tax)

<font color="blue">Exercise</font>: The return value above was clearly wrong. Please use multiple **print** in the function above to debug the error.

In [ ]:
# YOUR CODE HERE

 ### Strings & Numbers

In [ ]:
# len function will return a integer (number) which allow addition to another integer
score = 5
msg="This is the score:"
total_len = len(msg) + score
total_len

In [ ]:
# You can check each type of a variable using type function
type(score)

In [ ]:
type(msg)

In [ ]:
# ERROR: Cant concatenate int to str
msg + score

`str` function can convert a integer(number) to the equivalent string:

In [ ]:
str(score)

In [ ]:
message = msg + str(score)
print (message)

You are NOT allowed to use string values in arithmetic expressions with numbers.

In [ ]:
# Error using + operator for int & str
numerical_string_value = "5"
3 + numerical_string_value

In [ ]:
# This is how it suppose to be
3 + int(numerical_string_value)

<font color="blue">Exercise</font>: Define a function called `print_balance` that accepts two arguments: `customer_name` and `account_balance`. 
Your function should return the following string:
`"Hello Ali - your account balance is: RM500"`
if it is called with the arguments `"Ali"` and `50`. 
`print_balance("Fatimah", 300)` should return `"Hello Fatimah - your account balance is: RM300"`

In [ ]:
# YOUR CODE HERE

In [ ]:
print_balance("Fatimah", 300)

### Quotation Marks
(`"` or `'`) are what define our strings. In order to add a quotation mark in the string you must use  a backslash (`\`) character (escape character).

In [ ]:
quotes = "Hello Mr. \"Ahmad\""
quotes

### f-string
formatted string literals, f-strings are string literals that have an f at the beginning and curly braces containing expressions that will be replaced with their values.

A normal string is transformed into an f-string by placing the letter f before the opening quote of the string. Use  `{}` to insert variables (number or string) in the f-string

In [ ]:
sales = 100 
time_period = "Q4 2018"

# Combining string using + operator
sales_message = "The revenue for "+ time_period + " were RM"+str(sales)
sales_message

In [ ]:
# Same result using f-string
sales_message = f"The revenue for {time_period} were RM{sales}"
sales_message

In [ ]:
#This will show the same output as normal string
regular_string = f"nothing special"
regular_string

<font color="blue">Exercise</font>: Define a function called **get_birthday_message** that accepts two arguments: **name** and **age_yrs**, and returns a string birthday greeting message with the following form. 

For Example:

get_birthday_message("Fatimah", 21) 

then your function should return the string **"Happy birthday Fatimah, you are 21 years old."**

In [ ]:
# YOUR CODE HERE

In [ ]:
get_birthday_message("Fatimah",21)

In [ ]:
str(10)

## Input function
input() prompts the user to input some data

In [ ]:
age = input("Tell me your age...")
print("You are",age," years old")

In [ ]:
# The input function will take the input in string
type(age)

In [ ]:
# ERROR: Can't concatenate int to str
age+2

### Type casting
you may use the int() or float() functions to specify the type of data.

In [ ]:
age = int(input("Tell me your age..."))
type(age)

<font color="blue">Exercise</font>: Use the input function to accept 2 inputs: 
1. Print "What is your name:", and then assign the first input to variable **name**  
2.  Print "How old are you:", and then assign the first input to variable **age_yrs** after casting it to integer.

Then call the **get_birthday_message** function earlier by parsing the arguments: **name** and **age_yrs**.

In [26]:
# YOUR CODE HERE
name = str(input("What is your name: "))

What is your nameamos

In [25]:
get_birthday_message(name,age_yrs)

NameError: name 'get_birthday_message' is not defined

### Lower()

The lower() methods returns the lowercased string from the given string.

In [23]:
string1 = 'CAPITAL'
print(string1.lower())
  
string2 = 'Tudm'
print(string2.lower())

capital
tudm

In [24]:
string1.lower()

'capital'

### Upper()
The upper() methods returns the uppercased string from the given string.

In [22]:
string3 = 'abdullah'
print(string3.upper())
  
string4 = 'Tudm'
print(string4.upper())

ABDULLAH
TUDM